/*
 *  Font imports
 */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');


/*
 * Font families
 */

$app-font:              'Titillium Web', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
$app-font-mono:         monospace;



/*
 * Colors
 */

$color-fonts:           #222;
$color-neutral:         #3f3f3f;
$color-lightneutral:    #f9f9f9;
$color-primary:         #715348;
$color-secondary:       #715348;
$color-sand1:           #f5cd6d;
$color-sand2:           #f7e590;



/*
 * Application Variables
 */

$app-menu-width:        275px;
$app-topbar-height:     50px;