/*
 *  Font imports
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Inconsolata:400,700');



/*
 * Font families
 */

$app-font:              'Lato', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$app-font-mono:         monospace;



/*
 * Colors
 */

$color-fonts:           #222;
$color-neutral:         #3f3f3f;
$color-lightneutral:    #f9f9f9;
$color-primary:         #375FC0;
$color-secondary:       #375FC0;
$color-menu-bg:         #AAAAAA;



/*
 * Application Variables
 */

$app-menu-width:        275px;
$app-topbar-height:     50px;