@import "_viewports";
@import "_variables";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: $app-font;
  word-break: break-word;
}

body {
  padding-top: $app-topbar-height;
  padding-left: $app-menu-width;
  color: $color-fonts;
  font-size: 1.5rem;

  @include viewports(up-to small) {
    padding-left: 0;
  }
}