@import "../_viewports";
@import "../_variables";

.MenuComp--overlay {
  display: none;

  @include viewports(up-to small) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    background: $color-neutral;
    transition: opacity 0.3s linear;
    pointer-events: none;
  }

  &.active {
    @include viewports(up-to small) {
      opacity: 0.8;
      pointer-events: all;
    }
  }
}

.MenuComp {
  position: fixed;
  top: $app-topbar-height;
  left: 0;
  z-index: 10;
  width: $app-menu-width;
  height: calc(100vh - #{$app-topbar-height});
  overflow-y: auto;
  user-select: none;
  background: rgba($color-menu-bg, 0.08);
  // box-shadow: -1px 0 0 rgba($color-fonts, 0.08) inset;

  @include viewports(up-to small) {
    transition: transform 0.5s cubic-bezier(.17,.67,.45,1);
    transform: translate3d(-100%, 0, 0);
    box-shadow: 5px 0 30px rgba(#000, 0.1);
    background: #fff;
    top: 0;
    height: 100vh;
  }

  &.open {
    @include viewports(up-to small) {
      transform: translate3d(0, 0, 0);
    }
  }

  > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    cursor: pointer;
    
    img {
      max-width: 188px;
      margin-left: -5px;
    }

    @include viewports(up-to small) {
      height: 80px;
    }
  }

  > .logo {
    display: none;

    @include viewports(up-to small) {
      display: block;
      width: 60%;
      margin: 0 auto;
    }
  }

  > .menu {
    margin: 0;
    padding: 0;
    padding-top: 36px;
    list-style: none;

    @include viewports(up-to small) {
      padding-top: 0;
    }

    li {
      font-size: 1.4rem;
      padding: 0;
      cursor: pointer;

      @include viewports(up-to small) {
        font-size: 1.3rem;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .subsection {
        display: none;

        &.show {
          display: block;
        }
      }

      a {
        display: block;
        padding: 0.8rem 2rem;
        color: inherit;
        text-decoration: none;

        @include viewports(up-to small) {
          padding: 1.2rem 2rem;
        }
      }

      &.h1 {
        color: $color-fonts;
        font-weight: bold;
        //height: 33px;
        overflow: hidden;

        > a {
          position: relative;
          margin-bottom: 1px;

          &:hover {
            color: $color-primary;
          }
        }
      }

      &.h2 {
        font-weight: normal;
        font-size: 1.3rem;  
        color: $color-fonts;
        background: rgba(#fff, 0.05);

        @include viewports(up-to small) {
          font-size: 1.4rem;
        }

        a {
          position: relative;
          padding-left: 3rem;

          &:hover {
            color: $color-primary;
          }
        }
      }

      &.active {
        > a {
          background: rgba($color-primary, 0.05) !important;

          &:after {
            content: '';
            position: absolute;
            right: 0px;
            top: 0;
            height: 100%;
            display: block;
            width: 1px;
            background: $color-primary;
          }
        }
      }
    }
  }
}