@import "../_viewports";
@import "../_variables";

.TopbarComp {
  position: fixed;
  top: 0;
  left: $app-menu-width;
  z-index: 8;
  width: calc(100% - 275px);
  height: $app-topbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $color-lightneutral;

  @include viewports(up-to small) {
    left: 0;
    width: 100%;
  }

  .menu-button {
    display: none;
    position: relative;
    min-width: 30px;
    height: 100%;
    user-select: none;

    @include viewports(up-to small) {
      display: block;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      transition: all 0.5s ease-in-out;
      transform: scale(1) translate3d(-50%, -50%, 0);
      opacity: 1;
      

      &.off {
        transform: scale(0.8) translate3d(-50%, -50%, 0);
        opacity: 0;
      }
    }
  }


  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid $color-primary;
    color: $color-primary;
    fill: $color-primary;
    transition: all 0.15s linear;

    .svg-icon {
      width: 13px;
      height: 10px;
      fill: $color-primary;
      margin-left: 2px;
      transition: all 0.15s linear;
    }

    &:hover {
      background: $color-primary;
      color: #fff;

      .svg-icon {
        fill: #fff;
      }
    }

    &:active {
      background: $color-primary;

      .svg-icon {
        transform: scale(0.9);
      }
    }
  }

  .btn-group {
    display: flex;

    .btn {
      border-radius: 0;
      margin-left: -1px;
      fill: red;
      color: red;

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      img {
        width: 13px;
        transform: translateX(1px);
      }
    }
  }
}