@import "../_viewports";
@import "../_variables";

.TopbarComp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: $app-topbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  padding-left: $app-menu-width;
  background: $color-primary;
  box-shadow: 0 1px 3px rgba(#000, 0.1);

  @include viewports(up-to small) {
    left: 0;
    width: 100%;
    padding-left: 1rem;
  }

  .logo {
    width: 150px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1rem;

    @include viewports(up-to small) {
      display: none;
    }
  }

  hr {
    width: 1px;
    height: 17px;
    margin: 0 1rem;
    background: rgba(#000, 0.2);
    border: none;
  }

  .menu-button {
    display: none;
    position: relative;
    min-width: 30px;
    height: 100%;
    user-select: none;

    @include viewports(up-to small) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .svg-icon {
      width: 20px;
      fill: #fff;
      position: absolute;
      top: 50%;
      left: 50%;

      transition: all 0.5s ease-in-out;
      transform: scale(1) translate3d(-50%, -50%, 0);
      opacity: 1;
      

      &.off {
        transform: scale(0.8) translate3d(-50%, -50%, 0);
        opacity: 0;
      }
    }
  }


  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    transition: all 0.15s linear;

    &.btn-svg {
      width: 30px;
      border-radius: 50% !important;
      padding: 0;
      margin-right: 1rem;

      &:first-child {
        margin-left: 1rem;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &.btn-last-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      margin-right: -1rem;
      border-radius: 0;
      padding: 0 2rem;
      font-size: 1.3rem;

      @include viewports(up-to small) {
        display: none;
      }

      span {
        opacity: 0.5;
        display: block;
        font-size: 1.2rem;
      }

      b {
        display: block;
      }
    }

    .svg-icon {
      width: 13px;
      height: 10px;
      fill: #fff;
      margin-left: 2px;
      transition: all 0.15s linear;
    }

    &:hover {
      background: $color-primary;
      color: #fff;
      background: rgba(#fff, 0.3);

      .svg-icon {
        fill: #fff;
      }
    }

    &:active {
      background: rgba(#fff, 0.5);

      .svg-icon {
        transform: scale(0.9);
      }
    }
  }

  .btn-group {
    display: flex;

    .btn {
      border-radius: 0;
      margin-left: -1px;

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      img {
        width: 13px;
        transform: translateX(1px);
      }
    }
  }
}